doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		link(rel="stylesheet", href="index.sass")
		title Evan Goode's Resume
	body
		table
			tr
				td.left
				td.right
					h1 Evan Goode
					p #[a(href="mailto:mail@evangoo.de") mail@evangoo.de] · #[a(href="sms:+14049173321") (404) 917-3321]
						br
						a(href="https://github.com/evan-goode/") https://github.com/evan-goode/
						//- br
						//- a(href="https://codepen.io/evan-goode/") https://codepen.io/evan-goode/
			tr
				td.left Objective
				td.right I am seeking an internship position for the summer of 2019 to get more involved in the open-source ecosystem and grow my abilities as a developer.
			tr
				td.left Skills
				td.right
					p Proficient with JavaScript, React, HTML & CSS, REST and GraphQL APIs, Python, GNU/Linux system administration, and git. Familiar with Vue.js, MongoDB, SQL databases, and Docker.
			tr
				td.left Experience
				td.right
					div
						h2 #[strong Development Intern], Axio Global
						h3 Summer 2018
						p Launched a web platform to facilitate communication between clients and in-house analysts, created tools for visualizing insurance policy data, and gathered experience building MVC web applications in a fast-paced environment.
					div
						h2 #[strong Student Assistant], Georgia Institute of Technology School of Mathematics
						h3 Summer 2016, Summer 2017
						p Developed in-house infrastructure for managing RHEL and macOS systems, monitoring building power usage and coolant flow, and syncing user permissions across services.
					div
						h2 #[strong Media Center Intern], Decatur High School
						h3 Fall 2016 – Spring 2017
						p Created web-based signage software to display messages around the school, migrated media center scheduling system to a new software platform.
					div
						h2 #[strong Freelance Web Developer]
						p Designed companion web application for a scholarly article published in the Philosophical Transactions of the Royal Society (#[a(href="https://sexdifference.org/") https://sexdifference.org]); contributed web applications to the open-source community. See GitHub and Codepen portfolios above.
					div
						h2 #[strong Technology Instructor], Friends School of Atlanta
						h3 Summer 2015
						p Taught the basics of computer programming to children ages 6 – 15 using the Google CS First curriculum.
			tr
				td.left Education
				td.right
					div
						h2 #[strong Georgia Institute of Technology], Atlanta, GA
						h3 B.S. Computer Science expected 2021
						p Major GPA: 4.0, Cumulative GPA: 3.9
						p Relevant coursework: Computer Organization & Programming (CS 2110), Data Structures & Algorithms (CS 1332), Objects & Design (CS 2340)
					div
						h2 #[strong Decatur High School], Decatur, GA
						h3 Graduated 2017
						p GPA: 4.5
						p National Merit Finalist
						p Relevant coursework: AP Computer Science, AP Statistics
					//- div
					//- 	h2 #[strong DeVry University], Decatur, GA
					//- 	h3 2015 – 2016
					//- 	p GPA: 4.00
						//- p Relevant coursework: Networking, Information Systems Security
			//- tr
			//- 	td.left Academic Honors
			//- 	td.right
			//- 		p Patrick S. Gilmore Band Award#[span.lighter , 2017]
			//- 		p National Honor Society#[span.lighter , 2016 – 2017]
			//- 		p National Merit Scholarship Finalist#[span.lighter , 2017]
